DATABASE_URL=postgresql://user:password@ep-cool-fog-123456.us-east-2.aws.neon.tech/neondb?sslmode=require
DISCORD_CLIENT_ID=1555170310498549840
DISCORD_CLIENT_SECRET=3hQDsYiejIdwLaZKfuEMt9HZ9hGuTZUv
DISCORD_BOT_TOKEN=
NEXT_PUBLIC_APP_URL=https://sanghyun.koharu.live
NEXT_PUBLIC_GUILD_ID=1528353970714841110
JWT_SECRET=super-secret-jwt-key-replace-with-random-32-chars-key
